{% extends 'base.html' %}

{% block content %}
<main class="main main--about">

    <p>Over 6+ years of IT Experience in designing, developing, testing and implementing various stand-alone and client-server architectures-based enterprise application software on different domains.

    Experience in Object Oriented Design and Programming concepts in Python. Working Experience on various Python packages such as NumPy, Pandas, Plotly.
    
    Experienced in developing web- based applications using Python, DASH , Flask, CSS, HTML, JavaScript . Deploy the application in production environment using Gunicorn and Nginx in Linux and waitress and Nginix used in windows
    
    Key expertise includes testing & debugging GUI & Multi - Applications environment & automated testing using Squish tool
    </p>
</main>

{% endblock %}