{% extends 'base.html' %}

{% block content %}
<main class="main main--contact">
    <dl>
        <div class="contact">
            <dt>Email:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="mail to:555sabarinath@gmail.com">
                    555sabarinath[at]gmail.com
                </a>
            </dd>
        </div>

        <div class="contact">
            <dt>LinkedIn</dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://telescope.epam.com/who/?tab=cv">
                    https://telescope.epam.com/who/?tab=cv
                </a>
            </dd>
        </div>

    </dl>

</main>
{% endblock %}